<!DOCTYPE html>
<html>
  <head>
    <title>{{TITLE}} FastQC Report</title>
    <style type="text/css">
{{CSS_CONTENT}}
    </style>
  </head>
  <body>
    <div class="header">
      <div id="header_title">
        <img src="{{FASTQC_ICON}}" alt="FastQC"/>FastQC Report
      </div>
      <div id="header_filename">
        {{DATE}}<br/>{{FILENAME}}
      </div>
    </div>
    <div class="summary">
      <h2>Summary</h2>
      <ul>
{{SUMMARY_ITEMS}}
      </ul>
    </div>
    <div class="main">
{{MODULE_CONTENT}}
    </div>
    <div class="footer">
      Produced by <a href="http://www.bioinformatics.babraham.ac.uk/projects/fastqc/">FastQC</a>  (version {{VERSION}})
    </div>
  </body>
</html>
